{% extends 'front.html.twig' %}

{% block title %}Reserever{% endblock %}

{% block slide %}
    <div>
        <br><br>

    </div>

{% endblock %}
{% block offre %}
    {# {%for bien in  biens %} #}

    <div class="mg-best-rooms maclasse" style="display:flex">

        <div class="container ok">
            {# <div id="alertreseravtion" class="alert alert-success text-center">
                <strong >Success! Votre Résévation est prise en compte Nous vous contacterons sous peu
                </strong>
            </div> #}

            <!--div contient forMulaire et iMages-->
        <div>
        
         
         
        
            
            <div class="col-md-7">
                <h2 class="mg-sec-left-title">{{ salle.nomComplet }}</h2>
               
                <div style="width:600px;heigth:900px" class="mg-gallery-container">
                    <ul  class="mg-gallery" id="mg-gallery">

                        <li><img style="width:100%;heigth:200px" src="data:image/png;base64,{{salle.images[0].image}}" alt="Partner Logo"></li>
                        <li><img style="width:100%;heigth:200px" src="data:image/png;base64,{{salle.images[1].image}}" alt="Partner Logo"></li>

                        <li><img style="width:100%;heigth:200px" src="data:image/png;base64,{{salle.images[2].image}}" alt="Partner Logo"></li>
                        {# <li><img src="{{asset ('assets/template/images/gallery-06.png')}}" alt="Partner Logo"></li>
                        <li><img src="{{asset ('assets/template/images/gallery-07.png')}}" alt="Partner Logo"></li>
                        <li><img src="{{asset ('assets/template/images/gallery-08.png')}}" alt="Partner Logo"></li>
                         #}
          
                    </ul>
             
                    <ul style="width:100% ;heigh:100%"  class="mg-gallery-thumb" id="mg-gallery-thumb">
                        <li><img style="width:100%; heigth:100%" src="data:image/png;base64,{{salle.images[0].image}}" alt="Partner Logo"></li>;

                        <li><img style="width:100%; heigth:100%" src="data:image/png;base64,{{salle.images[1].image}}" alt="Partner Logo"></li>
                        <li><img style="width:100%; heigth:100%" src="data:image/png;base64,{{salle.images[2].image}}" alt="Partner Logo"></li>
                      
                    </ul>
                </div>
            </div>
 



    

    <div style="margin-left:20px ; " class="container">

        <fieldset style="">
            <legend>
                <a class="mg-sec-left-title" id="conne">
                    SE CONNECTER
                </a >
            <span style="color:#ffb32f">OU</span> 
                <a class="mg-sec-left-title" id="insc">
                    S'INSCRIRE
                </a>
            </legend>
            <form id="formconnexion" style="background-color:orange">
                <p class="h4 text-center mb-4">CONNECTION</p>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label for="materialFormLoginEmailEx">Votre Email</label>

                    <input type="email" name="mail" id="materialFormLoginEmailEx" class="form-control">
                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="materialFormLoginPasswordEx">Votre Mot de Passe</label>

                    <input name="password" type="password" id="materialFormLoginPasswordEx" class="form-control">
                </div>

                <div class="text-center mt-4">
                    <input class="btn btn-dark" type="submit" name="reserver" value="Reserver">
                </div>
            </form>

            <form id="formreservation" action="" method="post" style="background-color:orange">
                <p class="h4 text-center mb-4">INSCRIPTION</p>

                <!-- numero piece -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label for="materialFormLoginEmailEx">NUMERO PIECE</label>
                    <input type="number" id="materialFormLoginEmailEx" name="numpiece" placeholder="num piece.." class="form-control" required="required">

                </div>

                <!-- Nom Complet -->
                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <label for="materialFormLoginEmailEx">NOM COMPLET</label>

                    <input type="text" id="nomcomplet" name="nomcomplet" placeholder="Papa Tene.." class="form-control" required="required">
                </div>

                <!-- NuMERO TELEPHONE -->
                <div class="md-form">
                    <i class="fa fa-phone prefix grey-text"></i>
                    <label for="materialFormLoginEmailEx">TELEPHONE</label>
                    <input type="number" id="tel" name="tel" placeholder="77545454" class="form-control" required="required">
                </div>

                <!-- ADRESSES -->
                <div class="md-form">
                    <i class="fa fa-home prefix grey-text"></i>
                    <label for="materialFormLoginEmailEx">ADRESSE</label>
                    <input type="text" id="adresse" name="adresse" placeholder="Fass mbao.." class="form-control" required="required">
                </div>

                <!-- Material input email -->
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label for="materialFormLoginEmailEx">VOTRE EMAIL</label>
                    <input type="email" id="email" name="email" placeholder="contact@senofice.sn" class="form-control" required="required">

                </div>

                <!-- Material input password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="materialFormLoginPasswordEx">VOTRE MOT DE PASSE</label>

                    <input type="password" id="materialFormLoginPasswordEx" class="form-control">
                </div>
                <!-- Rettaper mt de pass -->
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label for="materialFormLoginPasswordEx">CONFIRMER MOT DE PASSE</label>

                    <input type="password" id="materialFormLoginPasswordEx" class="form-control">
                </div>
                {# {% for bien in  biens %}
   <input  type="hidden" name="idbienareserver" value="{{bien.id}}">
    {% endfor %} #}

                <div class="text-center mt-4">
                    <input class="btn btn-dark" type="submit" name="reserver" value="Reserver">
                </div>
            </form>

        </fieldset>

     </div>
 </div>
    
        </div>
    </div>

    <style ></style>

</div>


{% endblock %}

{% block recherche %}{% endblock %}

{% block apropos %}{% endblock %}
{% block partenaires %}{% endblock %}

{% block galerie %}{% endblock %}
{% block form %}{% endblock %}